<%- include("partials/header.ejs") %>

<div class="test">
    <h1> THIS IS BE THE DASHBOARD CONTAINED A OVERVIEW OF WHAT THE USER HAS STORED AKA % OF MOVIES TV SHOWS ANIMES ON THE RIGHT SIDE OF THE SCREEN IN A PIE CHART OR SO. 
        LEFT SIDE WILL CONTAIN A SHORT MSG </h1>
</div>

<%- include("partials/footer.ejs") %>